<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--多对一 <collection property="" ofType=""></collection> -->
<mapper namespace="com.bobo.goods.dao.GoodsMapper">

<resultMap type="goods" id="goodsResulMap">
	<id column="gid" property="gid"/>
	<result column="gename" property="gename"/>
	<result column="gsize" property="gsize"/>
	<result column="price" property="price"/>
	<result column="num" property="num"/>
	<result column="bq" property="bq"/>
	<result column="zhuangt" property="zhuangt"/>
	<result column="url" property="url"/>
	<!-- 封装品牌(多对一) -->
	<association property="pinp" javaType="com.bobo.goods.domain.Pinp">
		<id column="pid" property="pid"/>
		<result column="pname" property="pname"/>
	</association>
	<!-- 封装封装 -->
	<association property="type" javaType="com.bobo.goods.domain.Type">
		<id column="tid" property="tid"/>
		<result column="tname" property="tname"/>
	</association>
</resultMap>

	<select id="selects" resultMap="goodsResulMap">
		SELECT d.*,p.pname,t.tname FROM goods d LEFT JOIN pinp p ON d.pid=p.pid LEFT JOIN TYPE t ON d.tid=t.tid
		<where>
			<if test="gname!=null and gname!='' ">
				g.gname like "%${gname}%"
			</if>
		</where>
	</select>
</mapper>